<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ex.volunteerfinder">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VolunteerFinderApp">


        <activity
            android:name=".view.ui.ChatCollection"
            android:exported="false"
            android:label="@string/title_activity_chat_collection"
            android:theme="@style/Theme.VolunteerFinderApp" />
        <activity
            android:name=".EventList"
            android:exported="false"
            android:label="@string/title_activity_chat_collection"
            android:theme="@style/Theme.VolunteerFinderApp" />
        <activity
            android:name=".view.ui.ForgotPassword"
            android:exported="false"
            android:label="@string/title_activity_chat_collection"
            android:theme="@style/Theme.VolunteerFinderApp" />
        <activity
            android:name=".view.EventDetailedView"
            android:exported="false"
            android:label="@string/title_activity_chat_collection"
            android:theme="@style/Theme.VolunteerFinderApp" />
        <activity
            android:name=".CreateNewEvent"
            android:exported="false"
            android:label="@string/title_activity_chat_collection"
            android:theme="@style/Theme.VolunteerFinderApp" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="@string/title_activity_chat_collection"
            android:theme="@style/Theme.VolunteerFinderApp" />
        <activity
            android:name=".view.ui.ChatLog"
            android:exported="false"
            android:label="@string/title_activity_chat_log"
            android:theme="@style/Theme.VolunteerFinderApp" />
        <activity
            android:name=".view.ui.VolunteerProfile"
            android:exported="false"
            android:label="@string/title_activity_chat_log"
            android:theme="@style/Theme.VolunteerFinderApp" />
        <activity
            android:name=".view.ui.ProfileDetails"
            android:exported="false"
            android:label="@string/title_activity_chat_log"
            android:theme="@style/Theme.VolunteerFinderApp" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.VolunteerFinderApp"/>
        <activity
            android:name=".view.LoginView"
            android:exported="true"
            android:label="@string/title_activity_chat_log"
            android:theme="@style/Theme.VolunteerFinderApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMpdgK0W4QfhkvH8U5AhHcqwe1RJgkztg"/>


    </application>

</manifest>